@model intro_to_mvc6.ViewModels.ToDoViewModel

<form asp-action="Update">
    @{ 
        var formBg = this.Model.Completed ? "bg-success" : "";
    }
    <div class="form-inline @formBg">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Description"></label>
            @if (this.Model.Completed)
            {
                <input type="hidden" id="Description" name="Description" value="@this.Model.Description" />
                <input asp-for="Description" class="form-control" disabled />
            }
            else
            {
                <input asp-for="Description" class="form-control" />
            }
        </div>
        <div class="form-group">
            <input asp-for="Completed" />
            <label asp-for="Completed"></label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
