@using System.Collections.Generic
@using intro_to_mvc6.ViewModels
@model List<ToDoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @foreach (var todo in Model)
    {
        <li>@todo.Description @Html.CheckBoxFor(o => todo.Completed)</li>
    }
</ul>