@using System.Collections.Generic
@using intro_to_mvc6.ViewModels
@model List<ToDoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.ValidationSummary()
    </div>
}

@{ await Html.RenderPartialAsync("_Create", new ToDoViewModel()); }

<h4>Todos</h4>
<hr />
<table class="table table-hover table-striped">
    @foreach (var todo in Model)
    {
        <tr>
            @{ await Html.RenderPartialAsync("_Update", todo); }
            @*<td>@todo.Description</td>
            <td>@Html.CheckBoxFor(o => todo.Completed)</td>*@
        </tr>
    }
</table>
